// BREAKPOINTS FOR MEDIA QUERIES


$bp-large: 62.5em;  // 1000px  ==> (1000px / 16px) 


*, 
*::before,
*::after { 
    @include reset;  

}

html {
    font-size: 62.5%; //1rem == 10px;
}

body {
    font-size: $font-primary;
    background-color: $color-signup;   
    font-size: $font-primary; 
    line-height: 1.5;  


}





// .container {
//     display: grid;
//     grid-template-rows: 20vh repeat(7, min-content);       
//     grid-template-columns: [full-start]8rem [center-start] 
//     repeat(8, [column-start] minmax(min-content, 14rem) [column-end])
//     [center-end] minmax(6rem, 1fr) [full-end];  
//     overflow-x: hidden;              
// } 

.wrapper {
    background-color: $color-main; 
}

//feature:   UTILITY CLASSES

.mb-sm {margin-bottom: 2rem}; 
.mb-md {margin-bottom: 4rem}; 
.mb-lg {margin-bottom: 4rem}; 
.mb-hg {margin-bottom: 8rem};  


::selection {
    background-color: $call-to-action-1;         
    color: $color-white; 
}
