.details {
    // grid-row: 4 / 5;
    // grid-column: full-start / full-end;  


    background-color: $color-main;   
    display: grid;
    grid-template-columns: repeat(2, 3fr 1fr);     
    padding: 6rem; 
    align-items: center; 

    @media only screen and (max-width: 62.5em) {
        grid-template-rows: repeat(2,1fr); 
    }

    &__text {
        display: grid;  
        align-items: center;
        justify-items: start; 
        grid-column: 3 / -1;
        
        @media only screen and (max-width: 62.5em) {
        grid-row: 2 / -1;
        grid-column: 1 / -1; 
        margin: 1rem auto;  
     }
    }

    &__img {
        object-fit: cover; 

        @media only screen and (max-width: 62.5em) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;   
        margin: auto;   
    }
    }


    &__link {
        text-decoration: none;
        font-size: 2rem;
        position: relative; 
        display: inline-block;
        color: $call-to-action-1;   
 
        &::after {
            content: "";
            background-image: url(../images/icon-arrow.svg);
            width: 2rem; 
            height: 2rem;
            display: inline-block;
            background-repeat: no-repeat; 
            position: absolute;
            top: .9rem;
            right: -3rem;        
        }

        &::before {
            content:"";
            position: absolute;
            width: 19rem;  
            height: .15rem; 
            display: block;  
            background-color: $call-to-action-1; 
            bottom: -1rem;   

        }  
        
    } 


}