.sign-up {
    // grid-row: 6 / 7; 
    // grid-column: column-start 2 / column-end 6; 
    background-color: $color-signup; 
    width:  60%; 
    margin: auto; 
    padding: 6rem;   
    position: relative;
    top: 10rem;  
    
    &__form {
        padding: 1.5rem;    
        display: inline-block;  
        visibility: visible; 
        border-radius: 10rem; 
        border: none;    
        width: 85%;
        font-size: 1.5rem; 
        font-family: inherit;   
    }

    & form {
        display: grid;
        grid-template-columns: 1fr 25rem;   
        align-items: center;       
    }

    &__btn {    
        padding: 1.5rem 3rem;  
        border-radius: 10rem; 
        border: none;
        cursor: pointer; 
        background-color: $call-to-action-1;     
        display: inline-block;   
    }

    & label {
        visibility: hidden;          
    }
}