%heading {
    color: $color-white;
    font-family: $font-open; 
    text-align: center; 
    font-weight: 700; 
}
%paragraph {
    text-align: center; 
    font-family: $font-open;   
    color: rgba($color-white, .8);      
    margin: 2rem auto; 
    font-weight: 400;  
}
 
.heading {

    // todo: group all heading extend; 


    &__primary {
        @extend %heading; 
        font-size: 4rem;
        
        &--left {
            text-align: left; 
        }

    }

    &__secondary {
        font-size: 3.5rem;     
        @extend %heading; 
    }

    &__tertiary {
        @extend %heading;  
        font-size: 2rem; 
    }


}


.paragraph {

    &__intro { 
        @extend %paragraph; 
        font-size: 2rem;    


    }

    &__feature {
        @extend %paragraph; 
        font-size: 1.5rem;     
    }

    &__details {
        @extend %paragraph; 
        text-align: left;
        font-size: 1.7rem; 
    }

    &__sign-up { 
        @extend %paragraph;  
        font-size: 1.7rem;      
        text-align: center; 
        width: 80%;    


    }
     
    }

.btn {
    padding: 1.5rem 8rem;
    font-size: 2rem;
    border: none;
    border-radius: 10rem; 
    width: -moz-fit-content;    
    width: fit-content; 
    margin: 1rem auto; 
    background-image: linear-gradient(to right bottom, $call-to-action-1, $call-to-action-2);    
    color: $color-white;  

    
}